.down {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #33517F;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .down:hover {
    background-color: #AC653A;
  }
